%
item1::desc1
item2::desc 2 has words
item3::desc3
item four has words::
item5::not available in your area
item 6
ITEM 7::super cool.
ITEM_8::*
weird_^$(@#$&*_symbols::sopa
10th item::10th description
Proper eleventh item::With a proper description.
%item1
pootis1::script1
pootis2::script2
pootis3::script3
%item2
isacat::no
isacategory::sure
